:root {
    --lightmode-text-primary: #604a4c;
    --lightmode-text-hover: #50311f;
    --lightmode-bg-primary: #ffffffec;
    --darkmode-text-primary: #ffffff;
    --darkmode-text-hover: #ffffff;
    --darkmode-bg-primary: #604a4c;
}
/* Blog page title */
.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

/* Blog list container */
.blogList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1.5rem;
  max-width: 700px;
  margin-inline: auto;
}

/* Each blog list item */
.blogList li {
  background-color: var(--lightmode-bg-primary);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.blogList li:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.blogContainer {
    background-color: hsla(0, 0%, 0%, 0.667);
    color: var(--lightmode-bg-primary);
    height: auto;
}

pre:has(code){
    margin: 30px;
}

code {
    padding: 0 3px;
    background-color: hsla(0, 0%, 0%, 0.667);
}

pre code {
    padding:20px;
    color: var(--lightmode-bg-primary);
}