
/* Blog listing title */
.listingTitle {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.listingTitle a {
  text-decoration: none;
  transition: color 0.2s ease;
}

.dark *{
  color: var(--darkmode-text-primary);
}

.light *{
  color: var(--lightmode-text-primary);
}

.listingTitle a:hover {
  color: var(--lightmode-text-hover);
  text-decoration: underline;
}

/* Blog description */
.listingDescription {
  font-size: 1rem;
  color: #4b5563;
  margin: 0;
}
.dark .listingDescription{
  color: var(--darkmode-text-secondary);
}

.listingHeader {
    display: flex;
    justify-content: space-between;
}
.listingHeader h3 {
    opacity: 0.9;
    font-style: italic;
}