:root{
  --nav-bg-darkmode: #483d48;;
  --nav-bg-lightmode: #e6e6e6d4;
  --nav-color-lightmode: #604a4c;
  --nav-color-hover-lightmode: #50311f;
  --nav-color-darkmode: #ffffff;
  --nav-color-hover-darkmode: #ffffff;
}

.topnav {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: end;
}
.topnav a {
  float: left;
  text-align: center;
  text-decoration: none;
  color: var(--nav-color-lightmode);
  background-color: var(--nav-bg-lightmode);
  padding: 12px 10px;
  margin: 15px 9px 20px 2px;
  font-size: 10px;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  transition:
    padding .5s,
    margin .5s,
    font-size .5s,
    width .5s,
    text-indent .5s;
}
.dark .topnav a {
  color: var(--nav-color-darkmode);
  background-color: var(--nav-bg-darkmode);
}

.topnav a:hover {
  background-color: var(--nav-color-hover-lightmode);
  color: var(--nav-color-darkmode);
}

.dark .topnav a:hover {
  background-color: var(--nav-color-hover-darkmode);
  color: var(--nav-color-lightmode);
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
ul.topnav {
  padding-inline-start: 0;
  list-style: none;
}
.navContainer {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 5;
}
li {
  padding: 0;
}
.topnav .shrink:not(.hover) a:not(.active) {
  padding: 15px;
  text-indent: 500%;
  rotate: 90deg;
  width: 50px;
  transition: 
    text-indent 2.5s,
    padding .5s,
    font-size .5s,
    rotate .5s,
    width .5s ;
}
.hover.shrink a {
  margin-bottom: 15px;
}
li.shrink:not(.hover):not(:has(.active)) {
  rotate: -90deg;
  transition: 
    rotate .5s .8s;
}
li.shrink.hover {
  align-self: flex-end;
  transition: align-self .5s;
}
.react-icons {
  vertical-align: middle;
}
.fa-nav {
  float: left;
}
li.shrink:has(a.active) {
  align-self: end;
}
.shrink a.active {
  margin-bottom: 15px;
}